name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set docker image tag
        run: echo "DOCKER_TAG=test" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - name: Import environment variables from a file
        run: cat .env | grep -v '^#' >> $GITHUB_ENV
      - uses: docker/bake-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          targets: app-release
      - uses: docker/bake-action@v6
        with:
          load: true
          builder: ${{ steps.buildx.outputs.name }}
      - run: docker compose run --rm python-ffmpeg
